<div class="row">
  <form ngSubmit #a="ngForm"  >
    <div class="form-group">
      <div class="col-md-2">
        <label for="dateStart">搜尋日期起: </label>
        <input type="date" id="dateStart" name="dateStart" ngModel class="form-control">
      </div>
      <div class="col-md-2">
        <label for="dateEnd">搜尋日期迄: </label>
        <input type="date" id="dateEnd" name="dateEnd" ngModel class="form-control">
      </div>
    </div>
  </form>
</div>
<br>
<button  class="btn btn-primary" type="submit" (click)="getHistoryData(a)">搜尋</button>
<!--<iframe width="100%" height="700" src="http://pchome.megatime.com.tw/tse/sto0/ock1"></iframe>-->
<chart type="StockChart" [options]="options"></chart>

